h1{
  color: black;
  font-family: 'Arya';font-size: 30px;
}

#java-beginner{
  text-align: center;
}

#Navigation{
  text-align: center;
}

#random-number{
  text-align: center;
}

#demo{
  text-align: center;
}

#forth{
  text-align: center;
}

#news{
  text-align: center;
}

#about{
  text-align: center;
}

#contact{
  text-align: center;
}

#footer{
  text-align: center;
}

h2{
  font-size: 25px;
}

h4{
  font-color: red;
}
